<section class="tabla">
    <h1 style="padding: 25px 50px; font-size: 35px;">Proyectos</h1>
    <div class="container">
        <div *ngFor="let item of proyectos" class="row" style="padding-bottom: 2em;">
            <div class="col-3">
            </div>
            <div class="col-9">
                <h6 style="font-weight: bold; font-size: 17px;">{{item.name}}</h6>
                <h6>{{item.description}}</h6>
                <h6><a [href]="item.url">{{item.url}}</a></h6>

                <h6>Año: {{item.year}} </h6>
            </div>
        </div>
    </div>