<div class="container-fluid">
        <p class="h1" style="color: white; margin-left: 60px; margin-bottom: 50px;">Educación</p>
            <div *ngFor="let item of educacion" class="row tarjeta">
                    <hr>
                    <div class="col-3">
                        <img [src]="item.image" alt="Logo" class="logo">
                    </div>
                    <div class="col-8">
                        <p class="h4" style="font-weight:500;">{{item.title}}</p>
                        <p class="h6">{{item.institute}}</p>                        
                        <p class="h6" >Año: {{item.year}}</p>
                    </div>
                    <div class="col-1">
                        <button mat-mini-fab color="warn"><mat-icon>edit</mat-icon>
                        </button>
                    </div>
                
            </div>
            <button mat-mini-fab color="accent" style="left: 50%;">
                <mat-icon>add</mat-icon>
            </button>
        <hr>
        </div>
