<div class="container-fluid">
    <p class="h1 titulofluid">Habilidades</p>
        <div *ngFor="let item of habilidad" class="row" style="display: inline-block; margin-left: 3em;" >
            <div class="card" style="margin: 2em;width:300px; height:400px;display: flexbox; align-items: center; padding: 1em;background-color: transparent;">            
                <p class="card-body card-title h4" style="font-weight:500;">{{item.name}}</p>
                <p class="card-body h6">{{item.description}}</p>
                <mat-progress-spinner  mode="determinate" [value]=item.points style="margin-bottom: 2em;"><p>{{item.points}}</p></mat-progress-spinner>
                <div>
                <button *ngIf=recibologueado mat-mini-fab color="warn" type="button" data-bs-toggle="modal" data-bs-target="#habilidadModal" style="margin-right: 1em;" >
                <mat-icon>edit</mat-icon></button>
                <button *ngIf=recibologueado mat-mini-fab color="basic" type="button" data-bs-toggle="modal"
                    data-bs-target="#borrarHabilidadModal" >
                    <mat-icon>delete</mat-icon>
                
                </button>
                </div>
            </div>
        </div>

        <button *ngIf=recibologueado style="left: 50%;" mat-mini-fab color="accent" type="button" data-bs-toggle="modal" data-bs-target="#habilidadModal">
            <mat-icon>add</mat-icon>
        </button>
</div>

<!-- Modal agregar Editar-->
<div class="modal fade" id="habilidadModal" tabindex="-1" aria-labelledby="habilidadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="habilidadModalLabel">Habilidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label for="nombreHabilidad" class="form-label">Habilidad</label>
                        <input type="text" class="form-control" id="nombreHabilidad" formControlName="nombreHabilidad">
                
                    </div>
                    <div class="mb-3">
                        <label for="puntuacion" class="form-label">Puntuación</label>
                        <input type="text" class="form-control" id="puntuacion" formControlName="puntuacion">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion del trabajo</label>
                        <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal borrar-->
<div class="modal fade" id="borrarHabilidadModal" tabindex="-1" aria-labelledby="borrarHabilidadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="borrarHabilidadModalLabel">Borrar Habilidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="confirmar" class="form-label">¿Estás Segurx?</label>
                <input type="text" class="form-control" id="confirmar" formControlName="confirmar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>