<section class="tabla">
    <h1 style="padding: 25px 50px; font-size: 35px;">Habilidades</h1>
    <div class="container">
        <div *ngFor="let item of habilidad" class="row" style="padding-bottom: 2em;">
            <div class="col-3">
            </div>
            <div class="col-9">
                <h6 style="font-weight: bold; font-size: 17px;">{{item.name}}</h6>
                <h6>{{item.description}}</h6>
                <h6>Desde el año {{item.points}} </h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:80%" aria-valuenow="item.points" aria-valuemin="0"
                        aria-valuemax="100">{{item.points}}%</div>
                </div>
            <button mat-mini-fab color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            </div>
            
        </div>
        <button mat-mini-fab color="accent">
            <mat-icon>add</mat-icon>
        </button>
    </div>

  