<div class="container-fluid">
    <p class="h1 titulofluid">Habilidades</p>
        <div *ngFor="let item of habilidad" class="row" style="display: inline-block; margin-left: 3em;" >
            <div class="card" style="margin: 2em;width:300px; height:400px;display: flexbox; align-items: center; padding: 1em;background-color: transparent;">            
                <p class="card-body card-title h4" style="font-weight:500;">{{item.name}}</p>
                <p class="card-body h6">{{item.description}}</p>
                <mat-progress-spinner  mode="determinate" [value]=item.points style="margin-bottom: 2em;"><p>{{item.points}}</p></mat-progress-spinner>
                <button *ngIf=recibologueado mat-mini-fab color="warn" class="">
                <mat-icon>edit</mat-icon>
            </button>
            </div>
        </div>

        <button *ngIf=recibologueado mat-mini-fab color="accent" style="">
            <mat-icon>add</mat-icon>
        </button>
</div>

  