<section>
    <div class="container arriba">
    <div class="row">
        <ul>
            <li style="display:inline-block;padding-right: 3em;"><img class="imagenredonda" src="../../../../assets/Imagenes/profile.jpg" alt="Imagen de perfil"><button mat-mini-fab color="warn">
                <mat-icon>edit</mat-icon>
            </button></li>
            <li style="display:inline-block;"><h1 class="titulo">{{profile.fullName}}</h1><button mat-mini-fab color="warn">
                <mat-icon>edit</mat-icon>
            </button></li>
            

        </ul>
        <div class="row">
            <div class="col-3 transparente"></div>
            <div class="col">
                <h6 class="titulo">{{profile.career}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-3 transparente">
            </div>
            <div class="col">
                <p class="titulo">{{profile.city}}</p>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-3 transparente">
                </div>
            <div class="col"> 
                <button mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>

            </div>
        </div>
    </div>
