<div class="container arriba">
    <div>
        <img class="redonda float-start" mat-card-lg-image src="../../../../assets/Imagenes/profile.jpg" alt="Imagen de perfil">
        <button *ngIf=recibologueado  mat-mini-fab color="warn">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="row tarjeta">
        <div class="col d-flex justify-content-left">
            <p class="h1 display-2" style="font-weight:500;">{{profile.fullName}}</p>
            <button *ngIf=recibologueado mat-mini-fab color="warn">
                <mat-icon>edit</mat-icon>
            </button></div>
        <div class="row">
            <div class="col d-flex justify-content-left">
                <p class="h4" style="font-weight:400;" >{{profile.career}}</p>
            </div>
        </div>
        <div class="row">
            </div>
            <div class="col d-flex justify-content-left">
                <p class="h4" style="font-weight:400;">{{profile.city}}</p>
            </div>
        </div>
        <div>
            <div class="row">
                
            <div class="col d-flex justify-content-center"> 
                <button *ngIf=recibologueado mat-mini-fab color="warn"><mat-icon>edit</mat-icon></button>

            </div>
        </div>
    </div>

<hr class="solid" style="border-top: 3px solid">