*{margin: 0;
padding: 0;}

html, body { height: 100%; background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);}
body { margin: 0;font-family: Roboto, "Helvetica Neue", sans-serif;
color: black;}


.anchototal{
    width: 100%;
}

.formato{
    background-color: transparent;
}

button {
    margin-left: 50px;
}